*{
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: #E6E6E6;
    text-align: center;
    margin: 0;
    padding: 10px;
}

img{
    height: 147px;
}

h1{
    background-color: #C4C4C4;
    color: #005677;
    text-align: center;
    text-transform: uppercase; 
    padding: 16px 0px 16px 0px;
    font-size: 35px;
    font-weight: 700;
    margin: 0px 0px 100px;
}

h2{
    background-color: #C4C4C4;
    color: #005677;
    text-transform: uppercase;
    padding: 6px 6px 6px 20px;
    font-size: 20px;
}
ul{
    padding: 0px 0px 0px 30px;
    margin-inline-start: 0;
    margin: 0;
}
ol {
    list-style-type: none;
    list-style-position: inherit;
    font-size: 15px;
    padding-inline-start: 10px;
}
li{  
    padding: 5px 0;
}

.lista.alineacion{
    display: flex;
}

span{
    font-weight: bold; 
    margin-right: 10px;  
}

p{
    margin: 0;
}

.italic{
    font-style: italic;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 20px;
    background-color: #005677;
    padding: 10px;
    text-transform: uppercase; 
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}
